.btn {
    background-color: red;
    border-color: red
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

h3{
  background-color: #222;
  font-size: 30px;
  font-family: Calibri light;
  color: white;
  padding: 10px;
}